@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  font-family: 'Space Mono', monospace;
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0px;
  background-color: #ffffff;
}

header {
  padding: 10px
}

header img {
  width: 150px;
}

.img-css {
  width: 100%;
  max-width: 850px;
  text-align: center;
}

.padding-nojs {
  padding-left: 10px;
}

div.scrollmenu {
  background-color: #141414;
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

div.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

div.scrollmenu a.active {
background-color: #026ccc;
  color: white; 
  border-bottom: 2px solid white;
}

div.scrollmenu a:hover {
  color: #ffcc00;
}

#content {
  padding: 8px;
}

.center-content {
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
}

footer {
  background-color: #121212;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  padding: 10px;
}

/* Pay Button */
.paybtn {
  list-style-type: none;
  padding: 0px;
}

.paybtn li {
  background-color: #ffffff;
  font-weight: normal;
  text-decoration: none;
  color: #030303;
  box-shadow: 2.5px 5px #030303;
  padding: 8px;
  margin-bottom: 20px;
  border: 1px solid #030303;
  max-width: 800px;
}

.paybtn li:active {
  transform: translateY(2px);
  box-shadow: 0px 4px #e8e8e8;
}

.paybtn li img {
  width: 40px;
  vertical-align: middle;
}

/* List */
.title-line {
  background-color: #141414;
  color: white;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
}

#content .results {
  list-style-type: none;
  color: black;
  font-size: 15px;
  padding-left: 0px;
}

#content .results li {
  border-bottom: 1px solid #e8e8e8;
  padding: 5px;
  vertical-align: middle;
}

#content .results li:before {
  content: "";
  position: inline-block;
  top: 12px;
  left: 5px;
  display: inline-block;
  height: 25px;
  width: 25px;
  margin-right: 5px;
  background-size: contain;
  background-image: url("/images/pdf.png");
  vertical-align: middle;
}

#content .notice{
  list-style-type: none;
  color: black;
  padding-left: 0px;
  font-size: 15px;
}

#content .notice li {
  border-bottom: 1px solid #e8e8e8;
  padding: 5px;
  vertical-align: middle;
}

#content .notice li:before {
  content: "";
  position: inline-block;
  top: 12px;
  left: 5px;
  display: inline-block;
  height: 25px;
  width: 25px;
  margin-right: 5px;
  background-size: contain;
  background-image: url("/images/bell.png");
  vertical-align: middle;
}

/* Table*/
table.GeneratedTable {
  width: 100%;
  background-color: #e1f8dc;
  border-collapse: collapse;
  border-width: 2px;
  border-color: #ffffff;
  border-style: solid;
  color: #000000;
}

table.GeneratedTable td, table.GeneratedTable th {
  border-width: 2px;
  border-color: #ffffff;
  border-style: solid;
  padding: 5px;
}

table.GeneratedTable thead {
  background-color: #e1f8dc;
}

/* Gallery*/
.Gallery {
  display: flex;
  flex-wrap: wrap;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-top: 2vw;
}

.GalleryImg {
  max-width: 50%;
  padding: 0 10px;
  height: auto;
  margin-bottom: 10px;
}

.GalleryImg img {
  width: 100%;
  height: 100%;
}

p {
  font-size: 15px;
}

a {
  text-decoration: none;
}

.timing {
  width: 100%;
}

.timing th, td {
background-color: #e1f8dc;
padding: 5px;
}